* {
    box-sizing: border-box;
    margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    background: url(../images/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #777777;
    border-color: #dddddd;
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* margin: 0;
    padding: 0; */
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-size: cover; */
}

.container {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    /* height: 100%;
    height: auto; */
    /* background-image: url(../images/banner.jpg);
    background-size: 100%; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
}

#header {
    padding-left: 0;
    padding-right: 0;
}

h1 {
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
    /* background: #ffffff;
    color: #ffffff; */
    /* border-bottom: 2px solid #cccccc; */
    /* background-image: url(../images/banner.jpg);
    background-size: 100%; */
    margin: 70px 20px 0;
}

.logo {
    /* background: #147efb; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* color: #ffffff; */
    font-size: 30px;
    width: 250px;
    margin-bottom: 0;
}

/* .bg-light { */

/* background: #ffffff!important; */

/* background-image: url(../images/banner.jpg);
    background-size: 150%; */

/* } */

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

li a {
    line-height: 1px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

h2 {
    font-size: 30px;
    line-height: 49px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
    width: 89.5%;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.btn {
    background-color: #777777;
    color: #ffffff;
}

.carousel-caption {
    bottom: 2%;
    left: 3.2%;
    font-size: 20px;
    opacity: 0.9;
    width: 93.8%;
    background-color: #777777;
    position: absolute;
}

.col-4 {
    flex: 0 0 30%;
}

.ben {
    margin-right: 10px;
    width: 25%;
    height: auto;
    box-shadow: 5px 10px;
    border-radius: 50%;
    shape-outside: ellipse();
    clip-path: ellipse();
    float: left;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.work {
    width: 100%;
    height: 193px;
    /* width: 100%;
    height: 50%; */
    /* box-shadow: 5px 10px; */
}

/* h3.carousel-caption.p-1.mt-4 { */

/* width: 93.8%;
    background-color: #777777;
    position: absolute; */

/* } */

.fixed-bottom {
    position: relative;
}

.fa {
    color: #777777!important;
}

a {
    color: #777777!important;
}

footer {
    /* background: #ffffff;
    color: #ffffff; */
    /* border-bottom: 2px solid #cccccc; */
    /* background-image: url(../images/banner.jpg);
    background-size: 100%; */
    margin: 0px 17.5% 5%;
}

.col-6 {
    position: relative;
}

.container-2 {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
    background: #ed1c24;
}

.b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
}

.c {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
}

.d {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
}

.e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
}

.f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}

.next, .prev {
    color: #444;
    position: absolute;
    top: 1650px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
}

.next:hover, .prev:hover {
    color: #000;
}

.next:active, .prev:active {
    top: 1650px;
    box-shadow: 0 1px 0 #999;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
}