* {
    box-sizing: border-box;
    margin: 0px;
}

/* page load glitch effect styling begin */

#page-structure {
    /* height: 100vh; */
    height: 100%;
}

#initial-loader {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 40px;
    font-weight: bolder;
    font-family: monospace;
}

/* page load glitch effect styling end */

body, html {
    width: 100%;
    height: 100%;
    background: url(../images/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #777777;
    border-color: #dddddd;
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-size: 100% 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* styling for navbar begin */

#icon-bar {
    overflow: hidden;
    background-color: #FFF;
    padding: 10px 10px 0 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

#icon-bar a:hover {
    background-color: #000;
}

.container .sticky {
    position: fixed;
    top: 10px;
    width: 64.5%;
    /* margin-top: 10px; */
    z-index: 100;
}

.sticky+.navbar {
    padding-top: 80px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .container .sticky {
        width: 81.5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .container .sticky {
        width: 81.5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .container .sticky {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .container .sticky {
        width: 90%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .container .sticky {
        width: 930px;
    }
}

@media only screen and (min-width: 1400px) {
    .container .sticky {
        width: 930px;
    }
}

@media only screen and (min-width: 1500px) {
    .container .sticky {
        width: 930px;
    }
}

@media only screen and (min-width: 1700px) {
    .container .sticky {
        width: 930px
    }
}

@media only screen and (min-width: 1824px) {
    .container .sticky {
        width: 930px;
    }
}

#header {
    padding-left: 0;
    padding-right: 0;
}

h1 {
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
    margin: 70px 20px 0;
}

.logo {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    width: 250px;
    margin-bottom: 0;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

li a {
    line-height: 1px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

/* styling for navbar end */

h2 {
    font-size: 30px;
    line-height: 49px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
    width: 89.5%;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.btn {
    background-color: #777777;
    color: #ffffff;
}

/* styling for AboutMe section begin */

.col-4 {
    flex: 0 0 30%;
}

/* styling for image of Ben in AboutMe section */

.ben {
    margin-right: 10px;
    width: 25%;
    height: auto;
    /* box-shadow: 5px 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    shape-outside: ellipse();
    clip-path: ellipse();
    float: left;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: transform .2s;
}

/* styling for dialog box when hovering over image of Ben */

.dialogbox {
    position: relative;
}

.dialogbox .dialogtext {
    visibility: hidden;
    width: 110px;
    background-color: #FFF;
    color: black;
    text-align: center;
    border-radius: 3rem;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 84%;
    transform: rotate(-30deg)
}

.dialogbox .dialogtext::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    margin-top: -5px;
    border-width: 0 1rem 1rem 0;
    border-style: solid;
    border-color: transparent #FFF transparent transparent;
    transform: translate(99%);
}

.dialogbox:hover .dialogtext {
    visibility: visible;
}

.ben:hover {
    filter: contrast(150%);
}

/* styling for AboutMe section end */

/* styling for portfolio section begin */

.col-md-6 {
    position: relative;
}

.work {
    width: 100%;
    height: 193px;
    transition: transform .2s;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

/* zooms in on project image on hover */

.work:hover {
    transform: scale(1.1);
}

/* image text for projects */

.carousel-caption {
    bottom: 2%;
    left: 3.2%;
    font-size: 20px;
    opacity: 0.9;
    width: 93.8%;
    background-color: #777777;
    position: absolute;
}

/* Popup container - can be anything you want */

.popup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #008CBA; */
    background-color: #777777;
    overflow: hidden;
    width: 100%;
    height: 193px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    visibility: hidden;
}

/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.details {
    cursor: pointer;
    position: absolute;
    bottom: 7%;
    right: 5%;
    z-index: 99;
    color: black !important;
}

.git-icon {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 99;
}

.toCode {
    color: black !important;
}

.text {
    width: 100%;
    padding: 0 10px;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

/* show more content begin*/

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 15px;
}

.activate, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.activate:after {
    content: "\2212";
}

.content {
    width: 100%;
    padding: 0 30px 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* end show more content */

.fixed-bottom {
    position: relative;
}

/* styling for icons on AboutMe section */

.fa {
    color: #777777;
    transition: transform .5s ease;
    backface-visibility: hidden;
}

.fa:hover {
    color: blue;
    transform: scale(1.1);
}

a {
    color: #777777!important;
}

/* testimonials styling */

.testimonials {
    border: 2px solid #ccc;
    /* background-color: #eee; */
    background-color: #777777;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    color: white;
    border: none;
    outline: none;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.testimonials::after {
    content: "";
    clear: both;
    display: table;
}

.testimonials img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.testimonials span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .testimonials {
        text-align: center;
    }
    .testimonials img {
        margin: auto;
        float: none;
        display: block;
    }
}

/* styling for footer */

footer {
    /* background: #ffffff;
    color: #ffffff; */
    /* border-bottom: 2px solid #cccccc; */
    /* background-image: url(../images/banner.jpg);
    background-size: 100%; */
    margin: 0px 17.5% 5%;
}

/* style for possible 3d carousel for projects */

.container-2 {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
    background: #ed1c24;
}

.b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
}

.c {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
}

.d {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
}

.e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
}

.f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}

.next, .prev {
    color: #444;
    position: absolute;
    top: 770px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
}

.next:hover, .prev:hover {
    color: #000;
}

.next:active, .prev:active {
    top: 770px;
    box-shadow: 0 1px 0 #999;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
}

/* styling for back to top arrow button */

#topArrow {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}